In [ ]:
#list is a ordered collection of items that can store mixed data types

lst_new = [1,2,3,4]
print(lst_new)

[1, 2, 3, 4]

In [9]:
#
list = [10,20,30,40,50,60,70,80,34,56,98,12]
print(list[:])
print(list[0:4])
print(list[1:8:2])
print(list[::-1])
print(list[:5:3])
print(list[5::3])
print(list[::5])
print(list[:3:-3])
print(list[1:9:-2])
print(list[9:1:3])

[10, 20, 30, 40, 50, 60, 70, 80, 34, 56, 98, 12]
[10, 20, 30, 40]
[20, 40, 60, 80]
[12, 98, 56, 34, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 40]
[60, 34, 12]
[10, 60, 98]
[12, 34, 60]
[]
[]

In [10]:
fruits = ['apple','banana','cherry','watermelon','guava']
print(fruits)

['apple', 'banana', 'cherry', 'watermelon', 'guava']

In [13]:
fruits[3] = 'tomato'
print(fruits)

['apple', 'banana', 'cherry', 'tomato', 'guava']

In [15]:
fruits.insert(-13,'orange')
print(fruits)

['orange', 'apple', 'banana', 'cherry', 'tomato', 'guava']

In [17]:
list1 = [1,2,[4,5,6],3,5,9]
list2 = [4,5,6]
list2.extend(list1)
print(list2)
print(list1)

[4, 5, 6, 1, 2, [4, 5, 6], 3, 5, 9]
[1, 2, [4, 5, 6], 3, 5, 9]

In [19]:
lst = [2,3,4,5,6,7,8,9]
for i in range(len(lst)):
    print(lst[i],end = " ")

2 3 4 5 6 7 8 9

In [20]:
#wap which will print count of even and odd in a given list
list = [2,4,2,53,53,57,3,5,2,5]
ed = 0
od = 0
for i in range(len(lst)):
    if lst[i]%2 == 0:
        ed += 1 
    else:
        od += 1  
print(ed,od)

4 4

In [ ]:
#delete an element and whole list
lst = [2,4,2,53,53,57,3,5,2,5]
del lst[4]
print(lst)
# del lst
# print(lst)

[2, 4, 2, 53, 57, 3, 5, 2, 5]

In [8]:
#pop function
lst = [2,4,2,53,53,57,3,5,2,5]
a = lst.pop(3)
print(lst)
print(a)

[2, 4, 2, 53, 57, 3, 5, 2, 5]
53

In [10]:
#remove function works on values
lst = [2,4,2,53,53,57,3,5,2,5]
print(lst)
lst.remove(53)
#remove function removes the first value it finds
print(lst)

[2, 4, 2, 53, 53, 57, 3, 5, 2, 5]
[2, 4, 2, 53, 57, 3, 5, 2, 5]

In [11]:
lst = [2,4,2,[53,53],53,57,3,5,2,5]
print(lst)
lst.remove(53)
print(lst)

[2, 4, 2, [53, 53], 53, 57, 3, 5, 2, 5]
[2, 4, 2, [53, 53], 57, 3, 5, 2, 5]

In [13]:
#counrt function
lst = [2,4,2,53,53,57,3,5,2,5]
print(lst)
lst.count(53)

[2, 4, 2, 53, 53, 57, 3, 5, 2, 5]

2

In [21]:
#REVERSE A LIST- not change the list and return reverse list
#reverse function
lst = [2,4,2,53,53,57,3,5,2,5]
# lst[::-1]
lst.reverse()
print(lst)

[5, 2, 5, 3, 57, 53, 53, 2, 4, 2]

In [ ]:
# index function (works on value)
lst = [2,4,2,53,53,57,3,5,2,5]
lst.index(4)

1

In [23]:
# wap to input a list swap the element from odd index with even index
lst = [2,4,2,53,53,57,3,5,2,5]
for i in range(0,len(lst)-1,2):
    lst[i],lst[i+1] = lst[i+1],lst[i]
print(lst)

[4, 2, 53, 2, 57, 53, 5, 3, 5, 2]

In [24]:
#wap which will print the largest element in the list
lst = [2,4,2,53,53,57,3,5,2,5]
temp = lst[0]
for i in range(0,len(lst),1):
    if lst[i]>temp:
        temp = lst[i]
print(temp)

57

In [ ]:
#second max
lst = [2,4,2,53,53,57,3,5,2,5]

In [26]:
#list=[2,5,3,2,20,8,15,6,12,10,9]
# o/p- [25,20,15,12,9]
lst=[2,5,3,2,20,8,15,6,12,10,9]
lst.reverse()
lst1 = [lst[0]]
temp = lst[0]
for i in lst:
    if i > temp:
        temp = i
        lst1.append(i)
lst1.reverse()
print(lst1)

[20, 15, 12, 10, 9]

In [ ]:
lst=[2,5,3,2,20,8,15,6,12,10,9]
num = int(input("")
          

)

In [12]:
lst = [25,3,2,20,10,15,6,12,10,9,11]
print(lst)

[25, 3, 2, 20, 10, 15, 6, 12, 10, 9, 11]

In [ ]:
#square of each number in a list
lst = [3,4,5,6,23,10,12]
lst1 = [i**2 for i in lst]
print(lst1)

[9, 16, 25, 36, 529, 100, 144]

In [ ]:
#
lst = [3,5,-7,8,-3,12,-18.-23]
lst1 = [i for i in lst if i > 0]
lst2 = [i for i in lst if i > 0]
print(lst1,lst2)

[3, 5, 8, 12] [3, 5, 8, 12]

In [ ]:
#print even ,and odd in a list in place of numbers
lst=[2,5,3,2,20,8,15,6,12,10,9]
lst1 = ["even" if i%2 == 0 else "odd" for i in lst]
print(lst1)

['even', 'odd', 'odd', 'even', 'even', 'even', 'odd', 'even', 'even', 'even', 'odd']

In [ ]:
#wap to find max, min and sum of a list
lst=[2,5,3,2,20,8,15,6,12,10,9]
print(max(lst))
print(min(lst))
print(sum(lst))

20
2
92

In [ ]:
#find max in a list of lists
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
lst1 = [max(i) for i in lst]
print(lst1)

[9, 9, 8, 8]

In [ ]:
#
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
lst1 = [for i in lst]
temp = 0
for j in i:
    if j%2 == 0:
        temp += j
    lst1.append(temp)
print(lst1)

5 3 15 9

In [ ]:
#set
#

In [ ]:
#union of two sets
set1 = {1,2,3,4,5,6}
set2 = {2,3,6,7,8,9,1}
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#intersection of two sets
set1 = {1,2,3,4,5,6}
set2 = {2,3,6,7,8,9,1}
print(set1 & set2)

{4, 5}

In [ ]:
#subtract set2 from set 1
set1 = {1,2,3,4,5,6}
set2 = {2,3,6,7,8,9,1}
print(set1 - set2)

{1, 2, 3}

In [5]:
#symmetric difference
set1 = {1,2,3,4,5,6}
set2 = {2,3,6,7,8,9,1}
print(set1 ^ set2)

{4, 5, 7, 8, 9}